{% extends 'Classmate/base.html' %}
{% load static %}
{% block extend %}
<div id="container my-3" style="margin-top:0px; position:absolute; top:190;right:190;">
    <form>
        <div class="col no-gutters border rounded flex-md-col my-4 shadow h-md-200 position-relative">
            <div class="col p-2 d-flex flex-column position-static">
            <h4><strong class="d-inline-block mb-4 text-primary">About</strong></h4>
            <p class="card-group mb-3">E-Education Portal is a free educational platform which provides learning web technologies online. <br/>It provides
            content and their detailed information about the technical languages. The learner can <br/>enroll as a Self Paced and as a Instructor Led also.</p>
            <p class="card-group mb-3"> In Self Paced user can learn the technologies through watching advance free videos from our best <br/> leaders
                and can manage their classes accordingly.</p>
            <p class="card-group mb-3">In Instructor Led user can guided by the best instructor led through online classes or user can join<br/> the
                instructor class directly in their institutes.</p>
        </div>
    </div>
    </form>
</div>
{% endblock%}


