{% extends 'Classmate/base.html' %}
{% load static %}

{% block extend %}
<body class="bg" style="background-color:white; background-image:none; background-size:100%;"></body>
<div class="container" style="margin-top:35px; position:absolute; margin-left:10px; height:60%;">
  <br/>  <center><form method="POST">
        {% csrf_token %}
        <h5><b><u>Already have an account..Login Here</u></b></h5><br/>
        {{form.as_p}}
    <button class="btn btn-outline-info" type="submit">login</button>
    </form><br/>
 Don't have an account, <a href="/Register" target="blank" style="color:#35fc03;"><strong>Register Here</strong></a> !!!
    </center></div>
{% endblock%}