{% extends 'Classmate/base.html' %}
{% load static %}

{% block extend %}
<body class="bg" style="background-color:white; background-image:none; background-size:100%;"></body>
<div class="container" style="margin-top:0px; position:absolute; top:130;">
    <center><h3> <b><u>Register-Here</u></b></h3></center>
    <div class="row no-gutters border rounded flex-md-row my-4 shadow h-md-200 position-absolute">
    <form method="POST">
        {% csrf_token %}
            {{form.as_p}}
        <center><button class="btn" style="background-color:green; color:white" type="submit">Register</button></center>
    </form>
        <div class="col p-2 d-flex flex-column position-static">
            <center>If you already have an account,<a href="/Login"><strong>Login</strong></a> here !!!.</center>
        </div>
    </div>
</div>
{% endblock%}